.home__container {
  width: 100%;
  background-color: black;
}

.home__layer {
  width: 100%;
  padding: 1rem;
  background-color: #202020;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1350px;
}

header img {
  width: 180px;
  height: 50px;
}

header ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

ul li,
.list {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.header__btn {
  width: 100px;
}

header h1 {
  font-size: 40px;
  color: white;
  text-transform: capitalize;
}

.sec_info {
  display: flex;
  width: 100%;
  padding: 0 16px;
  justify-content: center;
  color: white;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
}

.content__info {
  margin-top: 20vh;
  width: 100%;
  max-width: 1350px;
}

.content__info h1 {
  font-size: 60px;
  text-transform: capitalize;
}

.content__info p {
  max-width: 800px;
  font-size: 20px;
}
